body {
    background-color: aliceblue;
}


h1, h2 {
    text-align: center;
}


.toolbar {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    background-color: rgb(26, 176, 214);
    border: 8px solid indigo;
}


.two {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}

a {
    text-decoration: none;
    background-color: white;
    padding: 8px;
    
}


.item.logo {
    justify-content: space-between;
}

img {
    width: 100px;
    height: 100px;
    padding: 0;
}


.container {
    background-color: lightblue;
    border: 5px solid slateblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.list {
    background-color: lightsalmon;
    border: 5px solid indigo;
    padding-right: 15px;
    
}
